.container.hero {
    background-size: 100%;
    color: whitesmoke;
    height: 1000px;
    background-repeat: no-repeat;
    padding: 20px;
    position: relative;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}

.red.button{
  background-color:#ef5350  ;
  border-color: #ef5350 ;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 18px 32px;
  cursor: pointer;
}

.red.button:hover{
  background-color: white;
  color: #ef5350;
  transition-duration: 0.5s;
}

.tint {
    background:linear-gradient(
      rgba(25, 25, 25, 0.35)
      /* rgba(0, 0, 0, 0.35) */
    ),
    url('./bg.jpg');
  }
  

  
