.App {
  text-align: center;
  height: 100% !important;

}

.ui.fluid.container {
  height: 100% !important;

}

/* sidebar styles */
.top-right{
  position: fixed !important;
  top: 4%;
  left: 94%;
  color: red;
  right: 0
}

.top-right:hover{
  color: #ef5350;
  cursor: pointer;
}

.sidebar{
  padding-top: 25px;
  width: 250px !important;
}