.App {
  text-align: center;
  height: 100% !important;

}

.ui.fluid.container {
  height: 100% !important;
  z-index: 1;
}

/* sidebar styles */
.top-right{
  position: fixed !important;
  top: 8%; 
  color: red;
  right: 6%;
  z-index: 1;
}

.top-right:hover{
  color: #ef5350;
  cursor: pointer;
}

.ui.visible.right.overlay.sidebar{
  padding-top: 25px;
  width: 250px !important;
}